.isComplete {
    text-decoration: line-through;
    opacity: 0.3;
}
.item{
    margin: 5px 5px;
}
.TotoList{
    width: 30%;
    display: flex;
    border: 1px solid gray;
}
img{
    margin: 5px 5px;
}